body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: #fff;
}

.container-1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Додали flex-wrap */
}

.logo-and-text {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 50px;
    margin-right: 10px;
}

.header-logo {
    font-size: 24px;
    margin-top: 10px;
}

.gcse-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-basis: 100%; /* Додали flex-basis */
}

.gsc-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
    max-width: 100%;
    color: #241e1e;
}

.custom-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.custom-search-text {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.custom-button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-button {
    margin: 5px;
    padding: 10px 2px;
    background-color: #3498db;
    border: 2px solid #556b2f;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #2c3e50;
}

.cursor-pointer {
    cursor: pointer;
}

.footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.footer-logo-text {
    font-size: 24px;
}

.footer-rights {
    margin-top: 10px;
    font-size: 14px;
}
